<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RF | About</title>
  <meta content="width=device-width, initial-scale=1.0"
        name="viewport">
  <link href="/static/app.css"
        rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css"
        rel="stylesheet"
        type="text/css">
</head>
<body>
  <article class="container">
    <header class="navbar">
      <section class="navbar-section">
        <a class="navbar-brand mr-2"
                 href="/">Robert Fairley</a> <a class="btn btn-link"
                 href="/">Home</a> <a class="btn btn-link"
                 href="/about">About</a> <a class="btn btn-link"
                 href="/cv">CV</a>
      </section>
    </header>
    <section class="container grid-lg content">
      <section class="about--main">
        <h2>A brief bit about myself</h2>
        <p>I'm a developer in Toronto recently working in media designing and building tooling for production and diagnostics in digital publishing and radio. I work largely in Python, JavaScript, TypeScript, NodeJS, React, and C/C++. I'm interested
        in working in scientific and hardware programming—and I spend much of my hobby time learning in those fields. My scientific interests center most strongly around physics— but I'm still working refining that one.</p>
        <p>Most of my time otherwise is spent engineering software for publishing brands at St Joseph Communications (<a href="https://www.cbc.ca/news/business/rogers-media-magazines-1.5064054">formerly Rogers Media</a>), but I also like reading,
        playing music, cooking, getting exercise, and playing the odd video game. At one time I dedicated a lot of time to playing music, much of the time in a club who's music manager reportedly tried to pay the bands with pairs of blue jeans—at
        our rates the pants were probably worth more, but it was still a good time.</p>
        <p>I grew up in a small town and love the outdoors. Regrettably I'm inside most of the time these days, but I've been hoping to get to <a href="https://en.wikipedia.org/wiki/Nahanni_National_Park_Reserve">Nahanni National Park</a> for some
        time, and I look forward to setting myself up somewhere, sometime where I can be outdoors a lot more.</p>
        <p>There's a bit more to my past, and I'm hopeful for the future. For either of those, I think we'd be better off <a class="plain__right"
           href="mailto:&#114;&#114;&#097;&#102;&#097;&#105;&#114;&#108;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">talking</a> .</p>
        <p><strong>Currently reading:</strong><br>
        <em><a href="https://en.wikipedia.org/wiki/Rama_II_(novel)"
           target="_blank">RAMA II</a></em> – Arthur C. Clark<br>
        <em><a href="https://en.wikipedia.org/wiki/Cryptonomicon">Cryptonomicon</a></em> – Neal Stephenson</p>
      </section>
    </section>
  </article>
</body>
</html>
