<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RF | {{ .Title }}</title>
  <link href="/static/app.css"
        rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css"
        rel="stylesheet"
        type="text/css">
</head>
<body>
  <article class="container">
    <header class="navbar">
      <section class="navbar-section">
        <a class="navbar-brand mr-2"
                 href="/">Robert Fairley</a> <a class="btn btn-link"
                 href="/">Home</a> <a class="btn btn-link"
                 href="/about">About</a> <a class="btn btn-link"
                 href="/cv">CV</a>
      </section>
    </header>
    <section class="container grid-lg content">
      <section class="about--main">
        <h2>A brief bit about myself</h2>
        <p>I'm a developer in Toronto currently working in media designing and building tooling for production and diagnostics in digital publishing and radio. I work largely in Python, JavaScript, TypeScript, NodeJS, React, and C. I'm interested in
        working in scientific and hardware programming—and I spend much of my hobby time learning in those fields. My scientific interests center most strongly around physics— but I'm still working refining that one.</p>
        <p>Most of my time otherwise is spent engineering software for publishing and radio brands at Rogers Media, but I also like reading, cooking, getting exercise, and playing the odd video game. I spent some time playing music, much of the time
        in a club who's music manager reportedly tried to pay the bands with pairs of blue jeans—at our rates the pants were probably worth more, but it was a good time. (<a href="https://youtu.be/_RtoFAviHC4?t=4m34s">Segue into a favourite clip of
        a favourite band of mine, but I recommend the whole thing</a>)</p>
        <p>I grew up in a small town and love the outdoors. Regrettably I'm inside most of the time these days, but I've been hoping to get to <a href="https://en.wikipedia.org/wiki/Nahanni_National_Park_Reserve">Nahanni National Park</a> for some
        time.</p>
        <p>There's a bit more to my past, and I'm hopeful for the future. For either of those, I think we'd be better off <a class="plain__right"
           href="mailto:rrafairley@gmail.com">talking</a> .</p>
        <p><strong>Currently reading:</strong><br>
        <em><a href="https://en.wikipedia.org/wiki/Rama_II_(novel)"
           target="_blank">RAMA II</a></em> – Arthur C. Clark<br>
        <em><a href="https://en.wikipedia.org/wiki/The_C_Programming_Language"
           target="_blank">The C Programming Language</a></em> – Kernighan &amp; Ritchie <small class="gray">(semi-perpetual reading)</small><br>
        <em><a href="https://en.wikipedia.org/wiki/Cryptonomicon">Cryptonomicon</a></em> – Neal Stephenson</p>
      </section>
    </section>
  </article>
</body>
</html>
