<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RF | {{ .Title }}</title>
  <meta content="width=device-width, initial-scale=1.0"
        name="viewport">
  <link href="/static/app.css"
        rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css"
        rel="stylesheet"
        type="text/css">
</head>
<body>
  <div class="container">
    <header class="navbar">
      <section class="navbar-section">
        <a class="navbar-brand mr-2"
                 href="/">Robert Fairley</a> <a class="btn btn-link"
                 href="/">Home</a> <a class="btn btn-link"
                 href="/about">About</a> <a class="btn btn-link"
                 href="/cv">CV</a>
      </section>
    </header>
    <section class="container grid-lg content">
      <section class="rf_cv--main">
        <section>
          <h1>Robert Fairley</h1>
          <h2>Software Engineer</h2>
          <div class="cv__options">
            <a class="btn btn-link"
                 href="mailto:&#114;&#114;&#097;&#102;&#097;&#105;&#114;&#108;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Contact</a> | <a class="btn btn-link"
                 href="/static/cv/RobertFairley_CV.pdf">📃 PDF</a> | <a class="btn btn-link"
                 href="/static/cv/RobertFairley_CV.docx">📃 Word (.docx)</a> | <a class="btn btn-link"
                 href="/static/cv/RobertFairley_CV.doc">📃 Word (.doc)</a>
          </div>
          <hr>
          <h3>Skills</h3>
          <ul>
            <li><strong>Languages:</strong> Javascript (ES6, TypeScript), Python, HTML5, CSS3 (SCSS, LESS), C, PHP</li>
            <li><strong>Technologies:</strong> NodeJS, Express, React, SQL, NoSQL (MongoDB), Modern Web APIs, Git</li>
            <li><strong>Some exposure:</strong> C++, Objective-C, Ruby, Go, Java, C#, Unity</li>
          </ul>
          <hr>
          <section>
            <h3>Experience</h3>
            <div>
              <strong>Rogers Media</strong><br>
              <i>Software Engineer (Digital Publishing Programmer)</i><br>
              <small>Toronto, ON • Jun 2016 - Present</small>
              <ul>
                <li>Automated content generation for non-technical teams including designers and product owners for a major Canadian sports broadcaster
                  <ul>
                    <li>Designed a full-stack web application in TypeScript and NodeJS on the back end, ReactJS on the front end that generated dynamic applications where users could submit team rankings, get a total consensus of all user’s
                    rankings, and share their personal rankings via a unique URL</li>
                  </ul>
                </li>
                <li>Improved mobile editions publishing efficiency and facilitated the move to HTML format while ensuring print edition quality
                  <ul>
                    <li>Designed a full-stack web-based application using ES6 ReactJS, NodeJS/Express, MongoDB to enable editors to easily template articles for production in national, award-winning magazine brands.</li>
                  </ul>
                </li>
                <li>Supported the successful implementation of revenue-boosting dynamic ad insertion program for national radio digital streams
                  <ul>
                    <li>Designed a front-end web application HLS stream diagnostic tool for assessing network and metadata issues using ES6 JavaScript, HLS.js, and Web Audio API's</li>
                  </ul>
                </li>
                <li>Increased availability of existing content and reduced waste of assets due to brand closure by migrating national magazines’ content into related perpetuating media outlets
                  <ul>
                    <li>Developed tooling for migrating large datasets containing around two decades worth of magazine content and image assets cross-platform</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div>
              <strong>Freelance</strong><br>
              <i>Software Engineer</i><br>
              <small>Toronto, ON / Remote • Jun 2010 - Present</small>
              <ul>
                <li>Volunteer: brought international charitable organizations online thereby increasing their visibility and availability to the communities they supported
                  <ul>
                    <li>Contributed to charitable mentorship organizations by preparing web portals using various CMS platforms including Drupal and WordPress via the United Nations Online Volunteers service</li>
                  </ul>
                </li>
                <li>Small Business: increased revenue and mindshare to businesses and other organizations online across Ontario, rendering them more accessible and promoting exposure in media
                  <ul>
                    <li>Developed web presences and other tooling</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div>
              <strong>PS Production Services</strong><br>
              <i>Department Head, Electrical Cable &amp; Distribution</i><br>
              <small>Toronto,ON • Nov 2010 - Jun 2015</small>
              <ul>
                <li>Improved production efficiency, quality control, and service potential of electrical and electrical distribution equipment by implementing a new department in Toronto
                  <ul>
                    <li>Designed operations systems and workflows related to department, managed and trained new staff on quality issues surrounding portable industrial electrical equipment and film industry needs and safety requirements</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div>
              <strong>TTCA Toyotetsu Canada</strong><br>
              <i>FANUC Robot Operator</i><br>
              <small>Simcoe, ON • Aug 2009 - May 2010</small>
              <ul>
                <li>Operations Contributor: Responsible for safe, effective, and efficient operation and light maintenance of FANUC-type robot</li>
              </ul>
            </div>
          </section>
          <hr>
          <section>
            <h3>Education</h3>
            <div>
              <strong>University of Toronto</strong><br>
              Toronto, ON • TBD<br>
              <i>• 2Y of BA Hon. (English) – transitioning to BSc Hon. (Physics, prospective)</i>
            </div>
          </section>
          <hr>
          <section>
            <h3>Projects &amp; More Information</h3>
            <ul>
              <li>Github (<a href="https://github.com/robertfairley">https://github.com/robertfairley</a>)
              </li>
              <li>Github (<a href="https://github.com/robert-fairley">https://github.com/robert-fairley</a>)
              </li>
              <li>Canada North Grotesque: A first effort at a typeface design project inspired by the Inuit syllabic alphabet and Baffin Island artist Kenojuak (<a href="http://cng.rockylaurentian.info">http://cng.rockylaurentian.info/</a>)
              </li>
            </ul>
          </section>
        </section>
      </section>
    </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>
</body>
</html>
