/** blog-post.css */

.blog__post-header-image {
	width: 100%;
	min-height: 300px;
	height: 30%;
	background-color: #eee;
	background-position: 0% 20%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5em 0;
}
