/** blog-post.css */

.blog__post-header-image {
	width: 100%;
	height: 500px;
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 2em 0;
}

.blog__post-header-image:before {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--spectre-text);
}