/** overrides.css */
.blog-post img {
  max-width: 100%;
}

.dark {
  filter: brightness(0.5);
}

abbr {
  border-bottom: 1px dotted black;
  cursor: help;
}

.blog-post hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-bottom: 2px solid #ccc;
}
